name: Luftbot Radar
on:
  schedule:
    - cron: '*/5 * * * *' # Runs every 5 minutes automatically
  workflow_dispatch:      # Allows manual trigger

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run Radar Pulse
        run: python radar.py
